*{
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
}

body{
    background-color: #fff8dc;
}

h1{
    text-align: center;
    margin-top: 20px;
}

#instructions{
    margin-top: 50px;
    text-align: center;
}

.sentences{
    margin: 2px;
}

#buttonBox{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startButton{
    display: none;
    width: 75px;
    height: 30px;
}

#exerciseBox{
    display: none;
    width: 100%;
    margin-top: 100px;
}

#binaryBox{
    display: none;
    margin-top: 20px;
    text-align: center;
}

#textBox{
    display: none;
    position: relative;
    margin-left: 39%;
}

#checkAnswerButton{
    display: none;
    margin-top: 20px;
    margin-left: 80px;
}

#textInput{
    display: none;
    width: 300px;
}

#nextButton{
    display: none;
    margin-top: 20px;
    margin-left: 120px;
}

body p{
    padding: 50px;
    text-align: center;
}